@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

*:focus {
  outline-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem; }

body {
  background: #f6f8ff; }

#quiz {
  display: none;
  text-indent: 10px;
  min-height: 500px; }

#container {
  background: #6c6f8b;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px; }

.title__group {
  background-color: #23274a;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center; }

#question {
  padding: 10px; }

.inputGroup {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 15px 0; }
  .inputGroup__container {
    padding: 20px; }

.switch {
  appearance: none;
  background-color: #383b59;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  -moz-appearance: none;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: background-color ease 0.3s;
  -webkit-appearance: none;
  width: 62px; }
  .switch:before {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    content: "";
    display: block;
    height: 28px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    width: 28px;
    z-index: 2; }
  .switch:checked {
    background-color: #4cd964; }
    .switch:checked:before {
      left: calc(100% - 30px); }

.button {
  background-color: #6c6f8b;
  border-radius: 50px;
  color: #fff;
  margin: 5px;
  padding: 4px 15px; }
  .button__group {
    background-color: #383b59;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .button-active {
    background-color: #23274a; }
  .button-disabled {
    opacity: 0.5;
    pointer-events: none; }
  .button a {
    color: #fff;
    text-decoration: none; }

#checkAnswers,
#prev {
  display: none; }

.popup {
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2; }
  .popup__content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 6px black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 500px;
    padding: 15px;
    position: relative;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      .popup__content {
        width: 90%; } }
    .popup__content h3 {
      text-align: center; }
