body {
    background: $color-main-background;
}

#quiz {
    display: none;
    text-indent: 10px;
    min-height: 500px;
}

#container {
    background: $color-secondary;
    color: $color-white;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
}

.title__group{
    background-color: $color-primary;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
    color: $color-white;
    text-align: center;
}

#question {
    padding: 10px;
}
