.button {
    background-color: $color-secondary;
    border-radius: 50px;
    color: $color-white;
    margin: 5px;
    padding: 4px 15px;

    &-active {
        background-color: $color-primary;
    }

    &-disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    a {
        color: $color-white;
        text-decoration: none;
    }
}

#checkAnswers,
#prev {
    display: none;
}
